config RK3288_LVDS
	bool "RK3288 lvds connector support"
	depends on DRM_ROCKCHIP_CONNECTOR
	help
	  Choose this option if you have a rk3288 lvds connector.
	  rk3288 lvds transmitter support ttl rgb, lvds and dual lvds
	  mode, dual lvds mode is support for the plane which need dual
	  lvds channels.
