config DRM_ROCKCHIP
	tristate "DRM Support for Rockchip"
	depends on DRM
	select DRM_KMS_HELPER
	select DRM_KMS_FB_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_GEM_CMA_HELPER
	select DRM_PANEL
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select VT_HW_CONSOLE_BINDING if FRAMEBUFFER_CONSOLE
	select VIDEOMODE_HELPERS
	select OF
	help
	  Choose this option if you have a Rockchip soc chipset.
	  This driver provides kernel mode setting and buffer
	  management to userspace. This driver does not provides
	  2D or 3D acceleration; acceleration is performed by other
	  IP found on the SoC.

config DRM_ROCKCHIP_LCDC
	bool "ROCKCHIP DRM LCDC"
	depends on DRM_ROCKCHIP
	select FB_MODE_HELPERS
	help
	  Choose this option if you want to use Rockchip lcdc for DRM.
	  The driver provides an abstraction for Rockchip lcd controller,
	  lcd controller is the display interface from memory frame buffer
	  to display device.

config DRM_ROCKCHIP_CONNECTOR
	bool "ROCKCHIP DRM CONNECTOR"
	depends on OF && DRM_ROCKCHIP && DRM_ROCKCHIP_LCDC
	select FB_MODE_HELPERS
	select VIDEOMODE_HELPERS
	help
	  Choose this option if you want to use Rockchip Primary DISPLAY.
	  The driver provides an abstraction for Rockchip display devices,
	  such as lcd plane, lvds, edp , mipi, etc.

source "drivers/gpu/drm/rockchip/lcdc/Kconfig"
source "drivers/gpu/drm/rockchip/connector/Kconfig"
