/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/input/input.h>
#include "rk3288.dtsi"

/ {
	aliases {
		mshc0 = &sdmmc;
		mshc1 = &sdio0;
		mshc3 = &emmc;

		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
	};

	memory {
		reg = <0x0 0x80000000>;
	};
    
        backlight {
                compatible = "pwm-backlight";
                pwms = <&pwm0 0 25000>;
                brightness-levels = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255>;
                default-brightness-level = <128>;
                enable-gpios = <&gpio7 0 GPIO_ACTIVE_HIGH>;
        };

	/*for lvds 
	panel:panel {
		compatible = "rockchip,panel";
		status = "okay";
		rockchip,output-face = "r6g6b6";

		enable-gpios = <&gpio7 3 GPIO_ACTIVE_HIGH
				&gpio7 4 GPIO_ACTIVE_HIGH
				&gpio7 0 GPIO_ACTIVE_HIGH
				&gpio7 2 GPIO_ACTIVE_HIGH>;
		output-dither;

		display-timings {
			native-mode = <&timing0>;
			timing0: 1280x800 {
				clock-frequency = <71000000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <100>;
				hfront-porch = <18>;
				vback-porch = <8>;
				vfront-porch = <6>;
				hsync-len = <10>;
				vsync-len = <2>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};*/
	// for 1536x2048 edp
	panel:panel {
		compatible = "rockchip,panel";
		status = "okay";
		rockchip,output-face = "r6g6b6";

		enable-gpios = <&gpio7 3 GPIO_ACTIVE_HIGH>;
		output-dither;

		display-timings {
			native-mode = <&timing1>;
			timing1: timing@1 {
				clock-frequency = <205000000>;
				hactive = <1536>;
				vactive = <2048>;
				hback-porch = <48>;
				hfront-porch = <12>;
				vback-porch = <8>;
				vfront-porch = <8>;
				hsync-len = <16>;
				vsync-len = <4>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <1>;
			};
		};
	};

	soc {
		gpio-keys {
			compatible = "gpio-keys";
			#address-cells = <1>;
			#size-cells = <0>;
			autorepeat;

			button@0 {
				gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
				linux,code = <116>;
				label = "GPIO Key Power";
				linux,input-type = <1>;
				gpio-key,wakeup = <1>;
				debounce-interval = <100>;
			};
		};

		i2c0: i2c@ff650000 {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0_xfer>;
			status = "okay";
			rk808: rk808@1b {
				compatible = "rockchip,rk808";
				reg = <0x1b>;
				interrupt-parent = <&gpio0>;
				interrupts = <4 IRQ_TYPE_EDGE_FALLING>; /* gpio0_a */
				gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>,<&gpio0 11 GPIO_ACTIVE_LOW>;
			};
		};

		i2c1: i2c@ff140000 {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_xfer>;
			status = "okay";
			tpm: tpm@20 {
				compatible = "infineon,slb9635tt";
				reg = <0x20>;
			};
		};

		edp: edp@ff970000 {                                                                                                        
			status = "okay";
			rockchip,panel = <&panel>;
		};

		lvds: lvds@ff96c000 {
			status = "disabled";
			rockchip,data-mapping = "jeida";
			rockchip,data-width = <24>;
		      rockchip,panel = <&panel>;
		};

		lcdc1: lcdc@ff940000 {
			status = "okay";
		 };
	
		watchdog@ff800000 {
			status = "okay";
		};

		pwm0: pwm@ff680000 {
			status = "okay";
		};
		
		serial@ff180000 {
			status = "okay";
		};

		serial@ff190000 {
			status = "okay";
		};

		uart2: serial@ff690000 {
			pinctrl-names = "default";
			pinctrl-0 = <&uart2_xfer>;
			status = "okay";
		};

		uart3: serial@ff1b0000 {
			status = "okay";
		};

		uart4: serial@ff1c0000 {
			status = "okay";
		};
	};
};

&emmc {
	num-slots = <1>;
	status = "okay";

	clock-frequency = <150000000>;
	clock-freq-min-max = <400000 150000000>;

	default_voltage = <1>; //1.8v

	broken-cd;
	non-removable;
	supports-highspeed;
	//caps2-mmc-hs200-1_8v;

	pinctrl-names = "default";
	pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_rst &emmc_pwr &emmc_bus8>;

	slot@0 {
		reg = <0>;
		bus-width = <8>;
		disable-wp;
	};
};

&sdmmc {
	num-slots = <1>;
	status = "okay";

	clock-frequency = <50000000>;
	clock-freq-min-max = <400000 50000000>;

	supports-highspeed;

	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_cd &sdmmc_bus4>;

	slot@0 {
		reg = <0>;
		bus-width = <4>;
		disable-wp;
	};
};

&sdio0 {
	num-slots = <1>;
	status = "okay";

	clock-frequency = <50000000>;
	clock-freq-min-max = <400000 50000000>;

	default_voltage = <1>; //1.8v

	broken-cd;
	non-removable;
	cap-sdio-irq;
	supports-highspeed;
	ignore-pm-notify;
	keep-power-in-suspend;

	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_clk &sdio0_cmd &sdio0_cd &sdio0_pwr &sdio0_bkpwr &sdio0_bus4>;

	rockchip,grf = <&grf>;

	slot@0 {
		reg = <0>;
		bus-width = <4>;
		disable-wp;
	};
};

&spi0 {
	status = "okay";
	cros_ec: cros-ec@0 {
		compatible = "google,cros-ec-spi";
		spi-max-frequency = <4000000>;
		interrupt-parent = <&gpio7>;
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;
		reg = <0>;

		google,cros-ec-spi-msg-delay = <2000>;

		charger: gpio-charger@0 {
			compatible = "gpio-charger";
			charger-type = "usb-sdp";
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		};

		i2c-tunnel {
			compatible = "google,cros-ec-i2c-tunnel";
			#address-cells = <1>;
			#size-cells = <0>;

			google,remote-bus = <0>;

			battery: sbs-battery@b {
				compatible = "sbs,sbs-battery";
				reg = <0xb>;
				sbs,i2c-retry-count = <2>;
				sbs,poll-retry-count = <1>;
			};
		};
	};
};

&spi2 {
	status = "okay";
};

&usb_otg {
	status = "okay";
};

&usb_host1 {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};
#include "cros-ec-keyboard.dtsi"
